@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.author-card{
    width: 25%;
    display: flex;
    align-items: center;
    margin: $big auto;
    padding: 1rem;
    border-radius: 5px;
    background-color: $item-bg;
    box-shadow: $shadow-card;;
}

.author-card h4{
    color: $txt-color;
    padding-left: 1rem;
}

.author-card img{
    border-radius: 50%;
}

@media only screen and (max-width: 768px){
    .author-card{
        width: 50%;
    }

    .author-card{
        flex-direction: column;
    }

    .author-card img,
    .author-card a{
        margin-top: 16px;
    }
}