@import '../utils/variables.scss';

.comment{
    border-bottom: 1px solid #dedede;
    margin: 1rem 24px;
    padding: 0 16px;
}

.comment-txt{
    display: flex;
}

.comment-txt *{
    padding: 0 0.1rem;
}

.comment-author{
    margin-bottom: 2.5rem;
}