@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.favs-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.favs-container a{
    color: $txt-color;
}