@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.fav-card{
    background-color: $item-bg;
    width: 24rem;
    padding: 2rem 0;
    margin: 1.5rem;
    border-radius: 5px;
    position: relative;
}

.trash-btn{
    width: 24px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 36px;
    background-image: url('../../assets/trash.png');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
}

.trash-btn:hover{
    background-image: url('../../assets/trash-yellow.png');
}

.fav-card h3{
    margin-bottom: $med;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
}

.fav-img{
    width: 80%;
    border-radius: 5px;
    object-fit: cover;
    height: 192px;
}