@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.favs-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 88px;
    margin-left: auto;
    margin-right: auto;
}

.favs-container a{
    color: $post-title;
    font-family: $title-font;
}