@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.form-container{
    padding-top: 88px;
}

.login > div{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0.25rem auto;
}

.login > input[type="submit"]{
    margin: 0.75rem auto;
    color: #fff;
    background: #e5c322;
    border-radius: 25px;
    border: none;
    padding: 0.75rem 0;
    cursor: pointer;
    width: 192px;
    font-size: 16px;
}

.login > div > input[type="text"]{
    width: 50%;
}

.login > div > input[type="password"]{
    width: 50%;
}

.login > div > label{
    padding: 0.063rem;
    width: 50%;
    text-align: justify;
}

.to-signup {
    color: $txt-color;
}

.icon {
    background: url('https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

.customGPlusSignIn{
    color: $txt-color;
    background-color: #fff;
    border: thin solid #888;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 16px;
}

.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}