@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.login > div{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0.25rem auto;
}

.login > input[type="submit"]{
    width: 6.4rem;
    margin: $sml auto;
    color: $title-color;
    background-color: $primary;
    border-radius: 5px;
    border: none;
    padding: $sml 0;
    cursor: pointer;
}

.login > div > input[type="text"]{
    width: 50%;
}

.login > div > input[type="password"]{
    width: 50%;
}

.login > div > label{
    padding: 0.063rem;
    width: 50%;
    text-align: justify;
}

.to-signup {
    color: $txt-color;
}

.icon {
    background: url('https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

.customGPlusSignIn{
    color: $txt-color;
    background-color: #fff;
    border: thin solid #888;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
}

.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}