@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.article-body{
    @include card;
}

.article-body h2,
.article-body h5{
    margin-top: $med;
    color: $txt-color;
}

.article-body img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: $med;
}

.article-body p {
    margin: $med auto;
    text-align: justify;
    width: 85%;
}

.article-comments{
    @include card;
    text-align: start;
}

.article-comments h3{
    text-align: center;
}

.content-comment{
    display: flex;
    flex-direction: column;
}

.send-comment{
    color: $secondary;
    background-color: $primary;
    border: none;
    cursor: pointer;
}

.send-comment:hover{
    box-shadow: $light-shadow;
}

.author-comment input:focus{
    outline: none !important;
    border:1px solid $primary;
    box-shadow: $light-shadow;
}

textarea:focus{
    outline: none !important;
    border:1px solid $primary;
    box-shadow: $light-shadow;
}

.error{
    color: red;
}