@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.post-container{
    padding-top: 88px;
    margin-bottom: 32px;
}

.article-body{
    @include card;
}

.article-body h2,
.article-body h5{
    margin-top: $med;
    color: $post-title;
    font-family: $title-font;
}

.article-body a{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.article-body h5:hover{
    color: #e5c322;
}

.article-body .intro-img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: $med;
}

.article-body p {
    margin: $med auto;
    text-align: justify;
    width: 85%;
}

figure a img{
    pointer-events: none;
}

.article-comments{
    @include card;
    text-align: start;
}

.article-comments h3{
    text-align: center;
    color: $post-title;
    font-family: $title-font;
}

.blocks-gallery-grid{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    width: 80%;
    padding: 0;
}

.blocks-gallery-item img{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.wp-block-gallery{
    display: flex;
    justify-content: center;
}

.fav-btn{
    width: 24px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.fav-icon{
    width: 24px;
}

.comment-form{
    margin: 1rem 24px;
    padding: 0 16px;
}

.content-comment{
    display: flex;
    flex-direction: column;
}

.send-comment-container{
    width: 100%;
    display: grid;
    place-items: center;
}

.send-comment{
    margin: 0.75rem auto;
    color: #fff;
    background: #e5c322;
    border-radius: 25px;
    border: none;
    padding: 0.75rem 0;
    cursor: pointer;
    width: 192px;
    font-size: 16px;
}

.author-comment input:focus{
    outline: none !important;
    border:1px solid #e5c322;
}

textarea:focus{
    outline: none !important;
    border:1px solid #e5c322;
}

.error{
    color: red;
}

.content-comment label{
    margin-bottom: 16px;
}

.comment-form p{
    margin-top: 16px;
    margin-bottom: 8px;
}

.fav-btn{
    background-image: url('../../assets/heart.png');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 12px;
    margin-right: 16px;
    margin-top: 16px;
}

.fav-btn:hover{
    background-image: url('../../assets/yellow-heart.png');
}