@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.article-body{
    @include card;
}

.article-body h2,
.article-body h5{
    margin-top: $med;
    color: $txt-color;
}

.article-body .intro-img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: $med;
}

.article-body p {
    margin: $med auto;
    text-align: justify;
    width: 85%;
}

figure a img{
    pointer-events: none;
}

.article-comments{
    @include card;
    text-align: start;
}

.article-comments h3{
    text-align: center;
}

.content-comment{
    display: flex;
    flex-direction: column;
}

.send-comment{
    color: $secondary;
    background-color: $primary;
    border: none;
    cursor: pointer;
}

.send-comment:hover{
    box-shadow: $light-shadow;
}

.author-comment input:focus{
    outline: none !important;
    border:1px solid $primary;
    box-shadow: $light-shadow;
}

textarea:focus{
    outline: none !important;
    border:1px solid $primary;
    box-shadow: $light-shadow;
}

.error{
    color: red;
}

.blocks-gallery-grid{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    width: 80%;
    padding: 0;
}

.blocks-gallery-item img{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.wp-block-gallery{
    display: flex;
    justify-content: center;
}

.fav-btn{
    width: 24px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.fav-icon{
    width: 24px;
}