@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.form{
    background-color: $item-bg;
    width: 48%;
    padding: 2rem 0;
    margin: 1.5rem auto;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
}

.signup > div{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0.25rem auto;
}

.signup > input[type="submit"]{
    margin: 0.75rem auto;
    color: #fff;
    background: #e5c322;
    border-radius: 25px;
    border: none;
    padding: 0.75rem 0;
    cursor: pointer;
    width: 192px;
    font-size: 16px;
}

.signup > div > input[type="text"]{
    width: 50%;
}

.signup > div > input[type="password"]{
    width: 50%;
}

.signup > div > label{
    padding: 0.063rem;
    width: 50%;
    text-align: justify;
}

.signup .error{
    width: 64%;
    margin-left: auto;
    margin-right: auto;
}

