@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary: #00857a;
$secondary: #dedede;
$item-bg: #fff;
$body-bg: #e2eef5;
$title-color: #1a87c7;
$post-title: #0b2c68;
$txt-color: #606060;

$title-font: 'Oswald', sans-serif;
$txt-font: 'Roboto', sans-serif;

$sml: 0.75rem;
$med: 1rem;
$big: 2.5rem;

$shadow-card: 2px 2px 6px rgba(0, 0, 0, .4);
$light-shadow: 0 0 10px #719ECE;