$primary: #00857a;
$secondary: #dedede;
$item-bg: #CFD8DC;
$body-bg: #e2eef5;
$title-color: #f8f9fa;
$txt-color: #333;

$sml: 0.75rem;
$med: 1rem;
$big: 2.5rem;

$shadow-card: 2px 2px 6px rgba(0, 0, 0, .4);
$light-shadow: 0 0 10px #719ECE;